<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yerlesim Plani Bildirici</title>
</head>
<body>

    <h1><%= title %></h1>

    <ul>
        <% for(var i=0; i<usage.length; i++) {%>
           <li><b><%= usage[i].id %> -)</b> <%= usage[i].title %></li>
        <% } %>
    </ul>

    <div>
        <ul>
            <li><b>KULLANILAN TEKNOLOJİLER</b></li>
            <li>Node.Js</li>
            <li>Express.Js</li>
            <li>Socket.Io</li>
            <li>Flutter</li>
        </ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>    
    <script>
      var socket = io();

      // Arkayüzden tetiklenen mesajları yakalamak için,
      socket.on('students_list', msg => {
        console.log(msg)
      })
  </script>

</body>
</html>